.banner .swiper {
    width: 240px;
    height: 320px;
  }
  
  .banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .banner .swiper-slide:nth-child(1n) {
    background-image: url('../../../assets/book-image/business.jpg');
  }
  
  .banner .swiper-slide:nth-child(2n) {
    background-image: url('../../../assets/book-image/money.jpg');
  }
  
  .banner .swiper-slide:nth-child(3n) {
    background-image: url('../../../assets/book-image/cartoon.jpg');
  }
  
  .banner .swiper-slide:nth-child(4n) {
    background-image: url('../../../assets/book-image/history.jpg');
  }
  
  .banner .swiper-slide:nth-child(5n) {
    background-image: url('../../../assets/book-image/cooking.jpg');
  }
  
  .banner .swiper-slide:nth-child(6n) {
    background-image: url('../../../assets/book-image/science.jpg');
  }
  
  .banner .swiper-slide:nth-child(7n) {
    background-image: url('../../../assets/book-image/travel.jpg');
  }
  
  .banner .swiper-slide:nth-child(8n) {
    background-image: url('../../../assets/book-image/history 2.jpg');
  }
  
